<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting label="[B][COLOR white]Onde baixar:[/COLOR][/B]" type="text" /> 
	<setting label="[COLOR yellow]http://bit.ly/netcinekodi[/COLOR]" type="text" />
	<setting label="" type="sep" />
	<setting label="[B][COLOR white]Pagina no Facebook:[/COLOR][/B]" type="text" /> 
	<setting label="[COLOR blue]http://fb.com/NetCineKodi[/COLOR]" type="text" />
	<setting id="versao" type="text" label="versao" default="18.03.13" visible="false" />
	<setting id="makeGroups" type="text" label="30036" default="true" visible="false"/>
	<setting id="Cat" label="cat" type="text" default="0" visible="false" />
	<setting label="" type="sep" />
	<setting id="actDelFavourites" type="action" label="Limpar todos os Favoritos" action="RunPlugin(plugin://plugin.video.NetCine/default.py?mode=39&url=settings)" option="close"/>
</settings>
